/*body {
}*/

/* περιοχες εντος φορμας που μπορεις να συμπληρώσεις στοιχεία */
/*input[type=text], textarea, input[type=email], input[type=password], input[type=radio] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}*/
/*κουμπια */
/*input[type=submit], input[type=reset], input[type=button] {
    background-color: #dc0d15;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}*/

    /* λειτουργια οταν το βελακι παει πανω στο πληκτρο */
    /*input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
        background-color: #f55858;
    }*/